@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:100italic);

body {
    background: 
        url('poweredbyto.png'), 
        linear-gradient( rgba(0, 105, 119, 0.3), rgba(0, 43, 49, 0.75) ), 
        url('wavegrid.png');
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

html, body { 
    height: 100%; 
}

div.page-heading > div.text-right {
    padding-right: 2px;
}

label {
    font-family: 'DroidSansRegular', Helvetica, Arial, sans-serif;
    padding-left: 5px;
}

.neg-pos-toggle {
    padding-top: 5px;
}

ul.pagination > li.active > a, ul.pagination > li.active a:hover {
    background-color: #428bca;
    border-color: #428bca;
}

body, .main {
    padding-bottom: 20px;
}

.container {
    background-color: #efefef;
}

.page-heading {
    height: auto;
    min-height: 76px;
}

.page-heading > div.col-md-3 {
        padding-left: 0px;
    }

.mini-tron-panel {
    display: block;
    min-height: 268px;
}

.mini-tron-panel:hover {
    background-color: #DDE7F0;
    text-decoration: none;
}

.mini-tron {
    color: #333;
    min-height: 200px;
    text-align: center;
}

.form-control[readonly].false-readonly, tr.hover {
    cursor: pointer;
}

.form-control[readonly].false-readonly {
    background-color: #FFF;
    color: #000;
}

.stacked {
    margin-top: 5px;
}

th.timestamp {
    width: 230px;
}

.list {
    padding-bottom: 5px;
    padding-top: 5px;
}

.selectable:hover {
    cursor: pointer;
    background-color: #DDE7F0;
}

.engagement-buttons a.btn {
    white-space: normal;
}

.periscope dt {
    margin-top: 0;
    text-align: left;
}

.periscope dd {
    margin-top: 0;
    padding: 5px;
    font-size: 18px;
    font-family: 'DroidSansRegular', Helvetica, Arial, sans-serif;
    text-align: right;
}

.positive h1,
.positive h2,
.positive h3,
.positive h4,
.positive h5 {
    color: rgb(143, 211, 143);
}

.negative h1,
.negative h2,
.negative h3,
.negative h4,
.negative h5 {
    color: rgb(233, 103, 103);
}

.clickable {
    cursor: pointer;
}

.center { float: none; margin-left: auto; margin-right: auto; }

.feedback-chart {
    height: 150px;
}

.tronbadge { 
    font-size: 18px; 
}

.canvas {
    padding-bottom: 70px; 
}

.container {
    background-color: rgba(0, 59, 60, 0.5);
    border-radius: 8px 72px;
    overflow: hidden;
    border-color: rgba(0,0,0,0.3);
    border-top-color: rgba(255,255,255,0.1);
    border-left-color: rgba(255,255,255,0.1);
    width: 98%;
}

.navbar {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255, 255, 255, 0.75);
    width: 100vw;
    margin-bottom: 25px; 
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: rgba(0,0,0,0.1);
}

.navbar-toggle { border-color: #ccc; }
.navbar-toggle .icon-bar { background-color: #ccc; }

.panel-success > .panel-heading {
    background-color: rgb(143,211,143); 
}
  
.percentstat { 
    display: inline-block; 
    font-size: 20px; 
}
.percentstat:first-child::after { content: '|'; color: rgba(0,0,0,0.15); }
.percentstat > .glyphicon { font-size: .75em; }
.percentstat.negative { color: rgb(233,103,103); }
.percentstat.positive { color: rgb(76,168,76); }
.percentstat a { color: inherit; }
.percentstat a:hover, .percentstat a:focus, .percentstat a:active { }

.panel.panel-widget-one { 
    height: auto; 
    min-height: 390px; 
}

@media (min-width: 768px) { 
    .dl-horizontal dd { margin-left: 0; }
    .dl-horizontal dt { width: 50%; }
}

.last30-arrow {
    font-size: 110px;
    padding-top: 25px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.last30-arrow .icon-arrow-up { color: #C1E9BA; }
.last30-arrow .icon-arrow-down { color: #E0CDCD; }
.arrowbadge { margin-top: -70px; font-size: 18px; }

.table { background-color: rgba(255,255,255,0.8); }
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: beige; }

.page-heading {
    color: #428BCA;
    margin: 10px -16px 20px;
    padding: 0;
    background-color: rgba(0,0,0,0.4);
    height: auto;
    text-shadow: none;
    border-bottom: none; 
}

.awaiting-reply {
    font-family: 'BebasNeueRegular';
    font-size: 23px;
    padding: 20px 0 0;
}

/* Login Page */
body.standalone {
    background: url(http://tabbedout.staging.wpengine.com/periscope/sub2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
}

body.standalone .well {
    padding: 1em;
    margin: 2em 0;
    background: rgba(0,0,0,0.6);
    border-radius: .5em 1.5em;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    border: 1px dashed rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.8);
}

.logoheader {
    background: rgba(255,255,255,0.1);
    border-radius: 0 0 .5em .5em;
    padding: .5em;
    margin: 0 -1.5em;
    overflow: hidden;
}
.logos div {
    display: inline-block;
    vertical-align: middle;
}
.tsquare { float: right; }
.periscopelogo > img { width: 225px; margin-left: -1rem; }

body.standalone input[type=text], body.standalone input[type=email], body.standalone input[type=password]  {
    border-radius: .25em;
    color: #00a0af;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    padding-left: .4em;
    width: 100%;
    height: 1.75em;
    border: none;
    border-collapse: collapse;
    background: rgba(0,0,0,0.4);
    outline-color: #8AF0FA;
    margin: .5em 0 ;
    font-size: 1.25em;
}
body.standalone legend,
body.standalone h1 {
    color: #00a0af;
    font-weight: 400;
    font-size: 2em;
    line-height: 2.5rm;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    border-bottom: none;
}
body.standalone .submit { margin-top: 1em; }
body.standalone .submit .btn { padding: .5em 1.5em; }
